
<div *ngIf="pharmaceuticalForm">
    <h2><span>Pharmaceutical Form</span> {{pharmaceuticalForm.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{pharmaceuticalForm.code}}</span>
        </dd>
        <dt><span>En</span></dt>
        <dd>
            <span>{{pharmaceuticalForm.en}}</span>
        </dd>
        <dt><span>Fr</span></dt>
        <dd>
            <span>{{pharmaceuticalForm.fr}}</span>
        </dd>
        <dt><span>De</span></dt>
        <dd>
            <span>{{pharmaceuticalForm.de}}</span>
        </dd>
        <dt><span>Nl</span></dt>
        <dd>
            <span>{{pharmaceuticalForm.nl}}</span>
        </dd>
        <dt><span>Edqm Code</span></dt>
        <dd>
            <span>{{pharmaceuticalForm.edqmCode}}</span>
        </dd>
        <dt><span>Edqm Definition</span></dt>
        <dd>
            <span>{{pharmaceuticalForm.edqmDefinition}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pharmaceutical-form/'+ pharmaceuticalForm.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
