
<div *ngIf="activeSubstance">
    <h2><span>Active Substance</span> {{activeSubstance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{activeSubstance.name}}</span>
        </dd>
        <dt><span>Ingredient Id</span></dt>
        <dd>
            <span>{{activeSubstance.ingredientId}}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
            <span>{{activeSubstance.notes}}</span>
        </dd>
        <dt><span>As Equivalent</span></dt>
        <dd>
            <span>{{activeSubstance.asEquivalent}}</span>
        </dd>
        <dt><span>Additional Info</span></dt>
        <dd>
            <span>{{activeSubstance.additionalInfo}}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
            <span>{{activeSubstance.amount}}</span>
        </dd>
        <dt><span>Amount Eq</span></dt>
        <dd>
            <span>{{activeSubstance.amountEq}}</span>
        </dd>
        <dt><span>Non Numerical Amount</span></dt>
        <dd>
            <span>{{activeSubstance.nonNumericalAmount}}</span>
        </dd>
        <dt><span>Non Numerical Amount Eq</span></dt>
        <dd>
            <span>{{activeSubstance.nonNumericalAmountEq}}</span>
        </dd>
        <dt><span>Unit Id</span></dt>
        <dd>
            <span>{{activeSubstance.unitId}}</span>
        </dd>
        <dt><span>Unit</span></dt>
        <dd>
            <span>{{activeSubstance.unit}}</span>
        </dd>
        <dt><span>Unit Eq</span></dt>
        <dd>
            <span>{{activeSubstance.unitEq}}</span>
        </dd>
        <dt><span>Unit Eq Id</span></dt>
        <dd>
            <span>{{activeSubstance.unitEqId}}</span>
        </dd>
        <dt><span>Pc Id</span></dt>
        <dd>
            <span>{{activeSubstance.pcId}}</span>
        </dd>
        <dt><span>Pcc Id</span></dt>
        <dd>
            <span>{{activeSubstance.pccId}}</span>
        </dd>
        <dt><span>Pcc En</span></dt>
        <dd>
            <span>{{activeSubstance.pccEn}}</span>
        </dd>
        <dt><span>Ingredient Eq Id</span></dt>
        <dd>
            <span>{{activeSubstance.ingredientEqId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'active-substance/'+ activeSubstance.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
